@keyframes loader12 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    left: 50%;
    position: absolute;
    top: 50%;

    &:before,
    &:after {
        border-radius: 50%;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 0;
    }

    &:before {
        border: .4em solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.8);
        width: 3em;
        height: 3em;
        animation: loader12 1.4s linear infinite;
    }

    &:after {
        border: .2em solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.4);
        width: 2.8em;
        height: 2.8em;
        top: .3em;
        left: 0.3em;
        animation: loader12 2s linear reverse infinite;
    }
}


