{
    "presets": [
        [
            "latest",
            {
                "es2015": {
                    "modules": false
                }
            }
        ],
        "react",
        "flow"
    ],
    "plugins": [
        "react-hot-loader/babel"
    ]
}
