@import "variables";

.body {
    margin: 0;
}

.tabs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    @include get-colors(background-color, mainColors, primary);

    .item {
        //flex: 1 0 auto;
        //border: 1px solid red;
        //text-align: center;
        //padding: 0;
        //transition: flex 0.3s ease-in-out;
        //
        //&:hover {
        //    flex-grow: 2;
        //}

        //&:nth-child(4) {
        //    margin-left: auto;
        //}
    }

    .button {
        border: none;
        cursor: pointer;
        font-size: 16px;
        padding: ($padding / 2) ($padding);
        // margin: ($padding / 2) ($padding / 4);
        text-transform: uppercase;
        @include get-colors(background-color, mainColors, primary);
        @include get-colors(color, mainColors, primary-font);
    }

    .active {
        position: relative;
        // @include get-colors(background-color, mainColors, primary);

        &:after {
            @extend %after;
            bottom: 0;
            left: 0;
            position: absolute;
            // opacity: 0.6;
            height: 2px;
            width: 100%;
            z-index: 5;
            @include get-colors(background-color, lightTheme, light);
        }
    }
}


