@import "utilities";

.body {
    margin: 0;
}

.tabs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    @include get-colors(background-color, mainColors, primary);

    .item {
        // flex: 1 0 auto;
        // border: 1px solid red;
        // text-align: center;
        // padding: 0;
        // transition: flex 0.3s ease-in-out;

        // &:hover {
        //    flex-grow: 1.5;
        // }

        // &:nth-child(4) {
        //    margin-left: auto;
        // }
    }

    .button {
        border: none;
        cursor: pointer;
        font-size: 16px;
        padding: ($padding / 2) ($padding);
        position: relative;
        // margin: ($padding / 2) ($padding / 4);
        text-transform: uppercase;
        @include get-colors(background-color, mainColors, primary);
        //@include get-colors(color, mainColors, primary-font);
        //color: checkColor(mainColors, secondary-font);

        color: findColorInvert(checkColor(mainColors, secondary));

        &:hover {
            &:before {
                color: findColorInvert(checkColor(mainColors, secondary));
                content: "#{colorLuminance(checkColor(mainColors, secondary))}";
                display: block;
                font-size: 10px;
                left: 0;
                margin: 0 auto;
                padding: 2px;
                position: absolute;
                right: 0;
                top: -14px;
                @include get-colors(background-color, mainColors, primary, transparentize 0.8);
            }
        }
    }

    .active {
        position: relative;
        // @include get-colors(background-color, mainColors, primary);

        &:after {
            bottom: 0;
            left: 0;
            position: absolute;
            // opacity: 0.6;
            height: 2px;
            width: 100%;
            z-index: 5;
            @include get-colors(background-color, lightTheme, light);
        }
    }
}


