$primaryColor: #2ECC71;
$primaryAltColor: #27AE60;
$secondaryColor: #9B59B6;
$secondaryAltColor: #8E44AD;

$palette: (
    mainColors: (
        primary: $primaryColor,
        primaryAlt: $primaryAltColor,
        secondary: $secondaryColor,
        secondaryAlt: $secondaryAltColor,
        primary-font: rgba(255, 255, 255, 1),
        secondary-font: rgba(0, 0, 0, 1),
    ),

    lightTheme: (
        light: #FFFFFF,
        grey-1: #FAFAFA,
        grey-2: #F5F5F5,
        dark: #E0E0E0,

        primary-font: rgba(0, 0, 0, 0.8),
        secondary-font: rgba(0, 0, 0, 0.5),
        disable-font: rgba(0, 0, 0, 0.2),
    ),
    darkTheme: (
        light: #424242,
        grey-1: #303030,
        grey-2: #212121,
        dark: #000000,

        primary-font: rgba(255, 255, 255, 0.8),
        secondary-font: rgba(255, 255, 255, 0.5),
        disable-font: rgba(255, 255, 255, 0.2),
    ),
);

