@import "utilities";

// variables
$fontSize: 12px;
$padding: 8px 16px;
$paddingSmall: 6px 16px;
$marginBetweenButtons: 8px;
$minWidth: 64px;


// mixins
@mixin buttonColor($color, $colorAlt: null) {
    $borderHeight: 2px;
    $timing: 0.4s;
    $timingFunction: ease-out;

    background-color: $color;
    color: findColorInvert($color);
    transition: background-color $timing $timingFunction;

    &:after {
        background-color: transparent;
        content: "";
        display: block;
        height: $borderHeight;
        transform: scaleX(0);
        transition: transform $timing $timingFunction, background-color $timing $timingFunction;
        width: 100%;
        @include position(absolute, $bottom: 0, $left: 0);
    }

    &:hover {
        background-color: lighten($color, 8%);

        &:after {
            background-color: $colorAlt;
            transform: scaleX(1);
        }

        &.disable,
        &:disabled {
            background-color: $color;
        }
    }
}

.body {
    display: inline-flex;
    position: relative;

    .button {
        border: none;
        border-radius: $borderRadius;
        cursor: pointer;
        font-size: $fontSize;
        min-width: $minWidth;
        padding: $padding;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        @include buttonColor(checkColor(mainColors, default), checkColor(mainColors, defaultAlt));

        &.small {
            font-size: $fontSize / 1.2;
            padding: $paddingSmall;

            &.busy {
                @include loader($color: checkColor(mainColors, primary-font), $size: 8px);
            }
        }

        &.primary {
            @include buttonColor(checkColor(mainColors, primary), checkColor(mainColors, primaryAlt));
        }

        &.secondary {
            @include buttonColor(checkColor(mainColors, secondary), checkColor(mainColors, secondaryAlt));
        }

        &.busy {
            color: transparent;
            cursor: default;
            pointer-events: none;
            @include loader($color: checkColor(mainColors, primary-font), $size: 16px);
        }

        &.disable,
        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;

            &:hover {

                &:after {
                    background-color: transparent;
                }
            }
        }
    }

    & + & {
        margin-left: $marginBetweenButtons;
    }
}


