//variables
$maxWidth: 1024px;

body {
    // background-color: #7986CB;
    margin: 0 auto;
    //max-width: $maxWidth;
    //width: 100%;
}

p {
    margin: 0;
}

button {
    outline: none;
}

:global(.fix-width) {
    margin: 0 auto;
    max-width: $maxWidth;
    width: 100%;
}
