$defaultColor: rgb(92, 107, 192);
$mainBackground: rgb(223, 225, 225);
$mainColor: red;

$palette: (
    name: default,

    lightTheme: (
        light: #FFFFFF,
        grey-1: #FAFAFA,
        grey-2: #F5F5F5,
        dark: #E0E0E0,
    ),
    darkTheme: (
        light: #424242,
        grey-1: #303030,
        grey-2: #212121,
        dark: #000000,
    ),
);

