@import "../../variables";

//variables
$padding: 12px 8px;
$paddingInner: 12px 16px;
$iconSize: 16px;

// mixins
@mixin itemColor {
    $borderHeight: 2px;
    $timing: 0.4s;
    $timingFunction: ease-out;

    color: findColorInvert($barColor);
    display: flex;
    padding: $padding;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $timing $timingFunction;

    &:after {
        background-color: transparent;
        content: "";
        display: block;
        height: $borderHeight;
        transform: scaleX(0);
        transition: transform $timing $timingFunction, background-color $timing $timingFunction;
        width: 100%;
        @include position(absolute, $bottom: 0, $left: 0);
    }

    &:hover {
        background-color: lighten($barColor, 8%);

        &:after {
            background-color: $defaultAltColor;
            transform: scaleX(1);
        }
    }
}

.item {
    @include itemColor;
}

.dropdown {

    .arrow {
        align-self: center;
        display: flex;
        height: $iconSize;
        padding-right: 4px;
        width: $iconSize;
    }
}

:global(.dropdown-item) {
    display: flex;

    .item {
        min-width: 120px;
    }
}
